.THoblock {
    background-image: url("../assets/Horrorimg.jpg");
    background-size: cover;
    width: 100vw;
    display: grid;
    color: red;
    grid-template-columns: 65% 35%;
    border-radius: 12px;
    cursor: url(../assets/spid.png), pointer;
    margin-block: 5px;
    padding: 0;
    align-items: center;
}

.TNoblock {
    background-image: url("../assets/Noel.jpg");
    background-size: cover;
    display: grid;
    color: white;
    grid-template-columns: 65% 35%;
    border-radius: 12px;
    cursor: url(../assets/sapinN.png), pointer;
    margin-block: 5px;
    padding: 0;
    align-items: center;

}

.Texteblockl {
    text-align: center;
    justify-items: center;
    font-size: 35px;
    padding: 15px;
    max-height: 230px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 45px;
}

.imgTblock {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.imgT {
    width: 200px;
    height: 305px;
}

.BlockB {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ButonT {
    max-height: 45px;
    margin-inline: 3px;
}

.MovieN {
    overflow: hidden;
    margin-inline: 5px;
    margin-block: 2px;
    padding-block: 7px;
}